.chart-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-inline: 4%;
  background-color: #F8F9FA;
}

.table-layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-inline: 4%;
  background-color: #F8F9FA;
}

html.table-layout{
  background-color: #F8F9FA;
}